body{
    margin: 0px auto;
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
    min-height: 800px;
    
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.user-info {
  display: flex;
  align-items: center;
}

.titre_haut_de_page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFF;
    
    font-family: Bree Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    padding: 10px;
    align-items: center;
}

.titre_haut_de_page li {
    color: inherit;
    text-decoration: none;
    display: flex;
    position: relative; 
    align-items: center;

}

.titre_haut_de_page li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease;
}


.titre_haut_de_page a {
    color: inherit;
    text-decoration: none;

}
.profile-picture {
  max-width: 37px;
  max-height: 37px;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;

}

.titre_haut_de_page li:hover::before {
    right: 0;
    background-size: 100% 2px;
}


.titre_haut_de_page > :not(:first-child):not(:nth-child(1)) {
    flex-grow: 1; 
    padding-left: 20px ;
  }

.titre_haut_de_page > :first-child,



.titre_haut_de_page > :nth-last-child(2) {
    flex-shrink: 0;
  }

  .bande_haut_de_page {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #EC826A, #E86584, #C24996, #A74898);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Ajustez l'opacité et la taille de l'ombre */
  }
.Top_evenements{
    display: flex;
    color: #FFF;
    font-family: Bree Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    padding-left: 30px;
    
}

.banderole{
    background: #3C3C3C;    
}

footer {
    background: #3C3C3C;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

.flex-footer-item {
    margin: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.flex-footer-row {
    margin: 10px;
    padding: 10px;
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icon {
    max-width: 37px;
    
}

.social-icon-small {
    max-width: 25px;
}

.social-icon-big {
    max-width: 55px;
}


.footer-logo {
    max-width: 50px;
    
}



.flex-footer-item li {
    color: inherit;
    text-decoration: none;
}
.flex-footer-item a {
    color: inherit;
    text-decoration: none;
}

/* Tarifs */

.container-form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

button{
  color: #3C3C3C;
  transition: .2s ease-in;
  padding: 6px 15px;
  border-radius: 5px;
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  margin: 3px;

}


button:hover{
  border: 2px solid #C24996;
  color: #FFF;
  background-color: #EC826A;
}


.btn:hover{
    border: 2px solid #ff96ad;
    color:#EC826A;
    background-color: #3C3C3C;
}

.container-price{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}


.container-price-item{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
}

.container-price-item img {
    min-width: 200px;
}

form {
    max-width: 400px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1{
  margin-top: 0px;
}
textarea {
    resize: vertical;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}



input[type="submit"] {
  color: #3C3C3C;
  transition: .2s ease-in;
  padding: 6px 15px;
  border-radius: 5px;
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  margin: 3px;

}

input[type="submit"]:hover{
    border: 2px solid #C24996;
    color: #FFF;
    background-color: #EC826A;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) 
{

}












.ending{
  background: #3C3C3C;
  width: auto;
  height: 500px;
  display: flex;
}



/* Toggle Switch */

.container-toggle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 800px;
  margin: auto;
  justify-content: flex-start;
}

.switch {
	display: inline-block;
	position: relative;
	width: 46px;
	height: 28px;
	cursor: pointer;
	overflow: hidden;
}

.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ec826a6e;
  border-radius: 20px;
}

.switch input:checked + span {
  background: #EC826A;
}

.switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .5s;
}

.switch input:checked + span:before {
  left: 22px;
}



/* dropdown */
.dropdown {
    align-items: center;
    position: relative;

}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


ligne
{
   
    width:100%;
    display: flex;
    background-color: black;
    height: 2px;
    border-radius: 5px ;
    padding-left: 350px;
    padding-right: 300px;
    margin: 20px 0;
}



#userTable {
    width: 80%; /* Ajustez la largeur du tableau */
    border-spacing: 20px; /* Ajoutez de l'espace entre les cellules du tableau */
    margin: 0 auto; /* Centrez le tableau dans son conteneur */
}

/* Ajoutez le style suivant pour améliorer l'apparence des cellules du tableau */

th, td {
    text-align: center;
    padding: 25px;}

.admin-content {
    display: none;
}    

/* Ajoutez ces styles pour améliorer l'apparence des onglets */
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs li {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block; 
}
.tabs a {
    text-decoration: none;
    color: #fff;
}

.tabs li.active {
    background-color: #C24996;
}

.tabs li:not(.active):hover {
    background-color: #E86584;
}

.tabs li:not(:last-child) {
    margin-right: 0;
}

.container-tab {
    display: flex;
}

.tabs-container {
    background-color: #EC826A;
    border-radius: 0 5px 5px 0;
    min-height: 800px;
}

h4 {
  color: #ffffff;
  padding-left: 5px;
}


#salleTable th, 
#salleTable td,
#userTable th,
#userTable td,
#concertTable th,
#concertTable td{
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

#salleTable,
#userTable,
#concertTable{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#salleTable th,
#userTable th,
#concertTable th{
  background-color: #f2f2f2;
}

#salleTable tbody tr:hover, 
#userTable tbody tr:hover,
#concertTable tbody tr:hover {
  background-color: #e2e6ea;
}




/* teiva */

.calendrier-instertion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.calendrier {
  display: block;
  width: fit-content;
  padding: 2%;
  font-family: 'Bree Serif', serif;
  width: 40%;
  margin-left: 5%;
}

.calendrier-mois {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendrier-mois img {
  width: 20%;
  height: 20%;
  padding-top: auto;
}


.calendrier-mois p {
  padding-left: 2%;
  font-size: 18px;
}

table {
  width: 400px;
  height: 400px;
}


th {
  width: 25px;
  height: 25px;
}

.hover-bleu th{
 border-radius: 7px;
 align-items: center;
}

.hover-bleu th:hover {
  background-color: blue;
  color: #FFF;
}

.button-blue-day {
  font-family: 'Bree Serif', serif;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 18px;
}

.button-blue-day:hover {
  background-color: blue;
  color: #FFF;
  border-radius: 7px;
  align-items: center;
}

.evenement-insertion {
  margin-bottom: 5%;
  text-align: center;
  padding: 3%;
  border-radius: 18px;
  border: 3px solid #E86584;
  background: rgba(217, 217, 217, 0.00);
}

#image-insertion {
  width: 100%;  
  height: 100%;
}

.evenement-creation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 25%;
  margin-right: 5%;
}
.evenement-creation {
  margin-bottom: 5%;
  padding: 3%;
  border-radius: 18px;
  border: 3px solid #E86584;
  background: rgba(217, 217, 217, 0.00);
  width: 92%;
  text-align: center;
}



#bouton-annuler {
  border-radius: 119px;
  background: #7B7B7B;
}

#bouton-creer {
  border-radius: 119px;
  background: #EE816A;
}

.evenement-boutons {
  width: 92%;
  text-align: center;
}

.avis-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.avis-resume {
  padding: 5px;
}

.avis-mesavis {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  border : 2px dashed #000;
}

.avis {
  display: grid;
  grid-template-columns: 10% 90%;
  padding-left: 5%;
  padding-bottom: 3%;
}

h3 {
  font-family: 'Bree Serif', serif;
  text-align: center;
}

.avis img{
  margin-top: 45%;
  margin-bottom: 20%;
}

.avis-texte {
  font-family: 'Bree Serif', serif;
  padding-left: 2%;
}

.resume-temp {
  margin-bottom: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 70% 30%;
}

#chartContainer {
  padding-left: 5%;
  padding-right: 5%;
  height: 370px; 
  width: 80%;
}



.checked {
  color: orange;
}

.note-container {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.barre-container {
  background-color: #D9D9D9;
  border-radius: 10px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.note-container > p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Bree Serif', serif;
}

.barre {
  border-radius: 10px;
  background-color: orange; 
  height:100%;
}

.titre-concert {
  margin-left: 10%;
  font-family: 'Bree Serif', serif;
  margin-top: 10%;
}

.note-gros-chiffre {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.grosse-note {
  font-family: 'Bree Serif', serif;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.nombre-avis {
  font-family: 'Bree Serif', serif;
  color: #EE816A;  
}

#res-avis {
  font-family: 'Bree Serif', serif; 
  padding-left: 10%; 
  margin-top: 10%;
}

.cgu-content {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cgu-content form {
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: none;
  min-width: 80px;
}

.cgu-content textarea[name=cgu_text] {
  resize: vertical;
  min-height: 480px;
}
.cgu-content textarea[name=mentions_text] {
  resize: vertical;
  min-height: 480px;
}


* {
    margin: 0;
    padding: 0;
}

/*Header*/

.header-Antoine{
    width: 100%;
    z-index: 1000;
    inset: 0;
    position: sticky;
    justify-content: space-between;
    background: linear-gradient( to right, #EC826A, #E86584, #C24996, #A74898);
  }


.titre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFF;
    font-family: Bree Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    padding: 10px;
    align-items: center;  
}

.titre > :not(:first-child):not(:nth-child(1)) {
    flex-grow: 1; /* Les éléments autres que les deux derniers vont occuper tout l'espace disponible */
    padding-left: 20px ;
  }

.titre > :first-child,


.titre > :nth-last-child(2) {
    flex-shrink: 0; /* Les deux derniers éléments ne vont pas réduire leur taille */
  }

.banderole{
    background: linear-gradient( to right, #EC826A, #E86584, #C24996, #A74898);

}

/*Banderole Noir de titre*/

.banderole{
    background: #3C3C3C;
    width: 100%;

}

.Top_evenements{
    display: flex;
    color: #FFF;
    font-family: Bree Serif;
    font-size: 25px;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 22px;

}


/*Slider*/

.slider {
    height: 80vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}


/*Calendrier*/

.calendrier {
    display: block;
    width: fit-content;
    padding: 2%;
    font-family: 'Bree Serif', serif;
    width: 40%;
    margin-left: 5%;
  }
  
  .calendrier-mois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .calendrier-mois img {
    width: 25%;
    height: 25%;
    padding-top: auto;
  }
  
  
  .calendrier-mois p {
    padding-left: 2%;
    font-size: 18px;
  }
  
  table {
    width: 400px;
    height: 400px;
  }
  
  
  th {
    width: 25px;
    height: 25px;
  }
  
  .hover-bleu th{
   border-radius: 7px;
   align-items: center;
  }
  
  .hover-bleu th:hover {
    background-color: #E86584;
  }
  
/*Avis*/

.avis-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .avis-resume {
    padding: 5px;
  }
  
  .avis-mesavis {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    border : 2px dashed #000;
  }
  
  .avis {
    display: grid;
    grid-template-columns: 10% 90%;
    padding-left: 5%;
    padding-bottom: 3%;
  }
  
  h3 {
    font-family: 'Bree Serif', serif;
    text-align: center;
  }
  
  .avis img{
    margin-top: 45%;
    margin-bottom: 20%;
  }
  
  .avis-texte {
    font-family: 'Bree Serif', serif;
    padding-left: 2%;
  }
  
  .resume-temp {
    margin-bottom: 10%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 70% 30%;
  }
  
  #chartContainer {
    padding-left: 5%;
    padding-right: 5%;
    height: 370px; 
    width: 80%;
  }
  
  h2 {
    font-family: 'Bree Serif', serif;
    padding-left: 5%;
  }
  
  .checked {
    color: orange;
  }
  
  .note-container {
    display: flex;
    flex-direction: row;
    height: 40px;
  }
  
  .barre-container {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .note-container > p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Bree Serif', serif;
  }
  
  .barre {
    border-radius: 10px;
    background-color: orange; 
    height:100%;
  }
  
  .titre-concert {
    margin-left: 10%;
    font-family: 'Bree Serif', serif;
    margin-top: 10%;
  }
  
  .note-gros-chiffre {
    text-align: center;
    font-family: 'Bree Serif', serif;
  }
  
  .grosse-note {
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .nombre-avis {
    font-family: 'Bree Serif', serif;
    color: #EE816A;  
  }
  
  #res-avis {
    font-family: 'Bree Serif', serif; 
    padding-left: 10%; 
    margin-top: 10%;
  }


